$text-above-image: true;

.user-tab {
    padding-bottom: 10px;

    .rv-cell__left-icon {
        width: 40px;
        height: 40px;
    }

    .rv-cell__title {
        font-size: 15px;
    }

    .rv-button {
        width: 60px;
        height: 28px;
        font-size: 12px;
        color: #fccb30;
        border: #fccb30 solid 1px;
        margin-right: 6px;
    }

    .rv-cell__value {
        .user-tab-time {
            font-size: 12px;
            color: #999999;
        }
    }

    .user-content {
        display: flex;
        flex-direction: column;

        &.text-below-image {
            flex-direction: column-reverse;
        }

        .user-content-text {
            padding: 7px var(--rv-padding-md);
            font-family: PingFang SC-Regular;
            letter-spacing: 0.5px;
        }
    }
}