$text-above-image: true;

.user-tab {
    padding-bottom: 10px;

    .rv-cell {
        .rv-cell__left-icon {
            width: 40px;
            height: 40px;
        }

        .rv-cell__title {
            font-size: 15px;
        }

        .rv-cell__value {
            span {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }

    .rv-cell::after {
        display: none;
    }

    .user-tab-time {
        font-size: 12px;
        color: #999999;
    }

    .user-content {
        display: flex;
        flex-direction: column;

        &.text-below-image {
            flex-direction: column-reverse;
        }

        .user-content-text {
            padding: 7px var(--rv-padding-md);
            font-family: PingFang SC-Regular;
            letter-spacing: 0.5px;
        }
    }
    .user-bar{
        .user-tab-time{
            padding-left: 15px;
        }
    }
}