.pet-switch {
    width: 130px;
    height: 30px;
    font-size: 12px;
    font-family: PingFang SC-Medium;
    background: #EEEEEE;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pet-option {
    width: 63px;
    height: 26px;
    border: 1px solid #EEEEEE;
    color: #999999;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all .6s linear;
    align-items: center;
    justify-content: center;
}

.pet-option.active {
    background-color: #FEFFFE;
    color: #08090A;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 0;
    }

}

@keyframes slideOutLeft {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 0;
    }

}
.pet-option-left {
    border-right: 0;
}

.pet-option-right {
    border-left: 0;
}

.pet-option-left.active:before,
.pet-option-right.active:before {
    content: '';
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.pet-option-left.active:before {
    animation: slideOutLeft .4s ease-in-out forwards;
}

.pet-option-right.active:before {
    animation: slideInLeft .4s ease-in-out forwards;
}