* {
  margin: 0;
  padding: 0;
}

:root {
  --rv-nav-bar-height: 44px;
  --rv-nav-bar-background-color: rgba(0, 0, 0, 0);
  --rv-nav-bar-icon-color: var(--rv-black);
  --rv-nav-bar-text-color: var(--rv-black);
  --rv-padding-md: 15px;
}

.rv-hairline--bottom::after {
  border: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.black {
  color: var(--rv-black);
}

.rv-popup {
  .rv-image-preview__content {
    .rv-image-preview__slides {
      .rv-image-preview__slides-inner {
        .rv-image-preview__slide {
          .rv-image-preview__control {
            .rv-image-preview__image-wrapper {
              img {
                width: 100%;
              }
            }
          }

        }
      }
    }
  }
}