.date-select {
    .rv-cell {
        padding: 0;

        .rv-cell__title {
            font-size: 15px;
            font-family: PingFang SC-Medium;

        }
    }

    .date-select-view {
        width: 345px;
        height: 75px;
        border-radius: 10px;
        box-sizing: border-box;
        border: 0.5px #E3E3E3 solid;
        background-color: #FEFFFE;
        margin: 15px 0;
        padding: 15px;

        .date-select-view-item {
            box-sizing: border-box;
            width: 135px;
            height: 45px;
            padding-top: 7px;
            text-align: center;

            .date-select-view-item-date {
                font-family: Helvetica Neue-Medium;
                font-size: 16px;
                color: #08090A;
            }

            .date-select-view-item-time {
                font-size: 12px;
                color: #999999;
            }
        }

        .rv-divider--vertical {
            height: 37px;
            margin-top: 5px;
        }

        .selectNull {
            width: 315px;
            height: 45px;
            box-sizing: border-box;
            padding: 10px 0;
            text-align: center;
            font-size: 15px;
        }
    }
}