   .image-layout {
       padding: 5px var(--rv-padding-md);
       overflow: hidden;

       img {
           object-fit: cover;
           border-radius: 10px;
       }

       /* straight图片的样式 */
       .single-image {
           width: 345px;
           height: 200px;

       }

       .straight-images-row {
           display: flex;
           flex-wrap: nowrap;
           overflow-x: auto;
           overscroll-behavior-x: contain;
           scrollbar-width: none;
           gap: 12px;

           &::-webkit-scrollbar {
               display: none;
           }


           img {
               width: 150px;
               height: 150px;
           }
       }

       .two-images-row {
           display: grid;
           gap: 12px;
           grid-template-columns: repeat(2, 1fr);

           img {
               width: 165px;
               height: 165px;

           }
       }

       /* 三张图片一行的样式 */
       .three-images-row {
           display: grid;
           gap: 7.5px;
           grid-template-columns: repeat(3, 1fr);

           img {
               width: 110px;
               height: 110px;
           }
       }
   }
   