.container {
    font-family: PingFang SC-Regular;

    .animal-select {
        margin-top: 40px;
        width: 345px;
        height: 130px;
        box-sizing: border-box;
        padding-top: 5px;
        font-size: 15px;

        .animal-select-title {
            display: block;
            font-family: PingFang SC-Medium;
        }

        .animal-select-mix {
            display: flex;
            gap: 10px;

            .animal-select-add {
                margin: 15px 0;
                width: 60px;
                height: 60px;
                box-sizing: border-box;
                padding: 20px;
                font-size: 20px;
                display: block;
                background-color: #FCCB30;
                border-radius: 10px;
            }

            .animal-select-content {
                padding: 15px 0;
                display: flex;
                gap: 10px;
                overflow-x: auto;
                overscroll-behavior-x: contain;
                scrollbar-width: none;

            }
        }
    }

    .information-filling {
        width: 345px;
        padding-bottom: 40px;
    }
}
.resSubmit{
    .rv-submit-bar__button{
        color: #000 !important;
    }
}