.about-search {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);

  .rv-search {
    padding: 10px var(--rv-padding-md);

    button {
      background: none;
      border: none;
      width: 34px;
      height: 34px;
      margin-left: 5px;
      font-size: 16px;

      .icon {
        width: 24px;
        height: 24px;
        padding: 5px;
      }
    }
  }

  .search-mode-about-content {
    .search-mode-about-content-history,
    .search-mode-about-content-recommend {
      padding: 5px 15px;

      .search-mode-about-content-title {
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: space-between;

        p {
          font-size: 15px;
          color: #303331;
          font-family: PingFang SC-Semibold;
          padding-right: 15px;
        }

        button.deleteBtn {
          margin-right: 10px;
          width: 1em;
          height: 1em;
        }

        .delete-btn {
          font-size: 14px;
          button {
            padding: 0 5px;
            color: #999999;
          }
        }
      }

      ul {
        padding: 20px 0;
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;

        li {
          background-color: #f7f7f7;
          padding: 6px 15px;
          border-radius: 14px;
          font-size: 11px;
          height: 28px;
          box-sizing: border-box;
          color: #61583d;
          flex-shrink: 0;
          display: flex;
          align-items: center;

          .delete-button {
            width: 1em;
            height: 1em;
          }
        }
      }
    }

    .search-mode-about-content-recommend{
        ul {
            li:nth-child(-n + 3) {
                background-color: #FFF5F5;
                color: #FA5555;
            }
        }
    }
  }
  .publish-btn {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    width: 375px;
    height: 60px;
     
    button{
        width: 335px;
        height: 50px;
        background-color: #FCCB30;
        border-radius: 25px;
        margin: 0 20px 10px;
    }
  }
}
.popup-content {
  width: 270px;
  height: 120px;
  box-sizing: border-box;
  padding: 25px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .popup-buttons {
    display: flex;
    justify-content: space-evenly;
    button {
      padding: 10px 15px;
    }
    button:nth-child(2) {
      color: red;
    }
  }
}
